@using System.Text.Json
@model Empty_ERP_Template.MVC.Models.TaskManagerViewModel

@{
    Layout = null;
}

<div class="epic-grid-shell">
    <div id="task_archive_grid" style="max-height:550px"></div>
</div>
