@{
    ViewBag.Title = "Personel Bordro";
}

<div class="card radius-5 h-100">
    <div class="card-header">
        <h6 class="mb-0">Aylık Bordro</h6>
    </div>
    <div class="card-body h-100 d-flex flex-column">
        <div id="personnel_payroll_periods_grid" class="flex-grow-1"></div>
    </div>
</div>

<script src="~/js/Personnel/PersonnelPayroll.js"></script>
