@{
    Layout = null;
}
<div class="w-100 ">
    <ul class="nav nav-tabs" id="customerTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="general-tab" data-bs-toggle="tab" data-bs-target="#general" type="button" role="tab" aria-controls="general" aria-selected="true">Genel Bilgiler</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="contracts-tab" data-bs-toggle="tab" data-bs-target="#contracts" type="button" role="tab" aria-controls="contracts" aria-selected="false">Sözleşmeler</button>
        </li>
        <li class="nav-item" role="prices">
            <button class="nav-link" id="prices-tab" data-bs-toggle="tab" data-bs-target="#prices" type="button" role="tab" aria-controls="prices" aria-selected="false">Fiyatlar</button>
        </li>
    </ul>

    <div class="tab-content p-3" id="customerTabsContent" style="overflow-y:auto;">
        <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">
            <form id="previewCustomerForm">
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="Name" class="form-label fw-bold">Firma</label>
                        <input type="text" class="form-control" id="Name" name="Name" readonly />
                    </div>
                    <div class="col-md-6">
                        <label for="TaxNumber" class="form-label fw-bold">Vergi No</label>
                        <input type="text" class="form-control" id="TaxNumber" name="TaxNumber" readonly />
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="Phone" class="form-label fw-bold">Telefon</label>
                        <input type="text" class="form-control" id="Phone" name="Phone" readonly />
                    </div>
                    <div class="col-md-6">
                        <label for="Email" class="form-label fw-bold">Email</label>
                        <input type="text" class="form-control" id="Email" name="Email" readonly />
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12">
                        <label for="Address" class="form-label fw-bold">Adres</label>
                        <input type="text" class="form-control" id="Address" name="Address" readonly />
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="Country" class="form-label fw-bold">Ülke</label>
                        <input type="text" class="form-control" id="Country" name="Country" readonly />
                    </div>
                    <div class="col-md-6">
                        <label for="City" class="form-label fw-bold">Şehir</label>
                        <input type="text" class="form-control" id="City" name="City" readonly />
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-4">
                        <label for="BankName" class="form-label fw-bold">Banka Adı</label>
                        <input type="text" class="form-control" id="BankName" name="BankName" readonly />
                    </div>
                    <div class="col-md-4">
                        <label for="BankNumber" class="form-label fw-bold">Banka No</label>
                        <input type="text" class="form-control" id="BankNumber" name="BankNumber" readonly />
                    </div>
                    <div class="col-md-4">
                        <label for="BankAccountNo" class="form-label fw-bold">Hesap No</label>
                        <input type="text" class="form-control" id="BankAccountNo" name="BankAccountNo" readonly />
                    </div>
                </div>
            </form>
        </div>
        <div class="tab-pane fade" id="contracts" role="tabpanel" aria-labelledby="contracts-tab">
            <div id="customer_contracts_datagrid"></div>
        </div>
        <div class="tab-pane fade" id="prices" role="tabpanel" aria-labelledby="prices-tab">
            <div id="customer_prices_datagrid"></div>
        </div>
    </div>
</div>
